<div class="all">
    <app-home></app-home>
        <div>
            <div class="text-900 text-2xl font-medium mb-3" id="title">QUẢN LÝ DANH MỤC THIẾT BỊ</div>
            <div class="form-container">
                
                <!-- <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
                    <div class="add_device">
                        <div class="flex flex-column gap-2" id="register">
                            <input pInputText aria-describedby="username-help" placeholder="Name" formControlName="name" />
                        </div>
                        <div class="flex flex-column gap-2" id="register">
                            <input pInputText aria-describedby="username-help" placeholder="Description"
                                formControlName="description" />
                        </div>
    
                        <div class="flex flex-column gap-2" id="register">
                            <input pInputText aria-describedby="username-help" placeholder="Status" formControlName="status"
                                hidden />
                        </div>
                    </div>
                    
                    <div style="display: flex; justify-content: center; ">
                        <p-button label="Add" type="submit"></p-button>
                    </div>
                </form> -->

            </div>

            <p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Tên thiết bị</th>
                        <th>Thiết bị có sẵn</th>
                        <th>Thiết bị đã bán</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category let-i="rowIndex">
                    <tr>
                        <td>{{ category.name }}</td>
                        <td style="cursor: pointer;">
                            <p *ngIf="availableDeviceQuantities[i]" (click)="showDialog(category.id, 'Available')">
                                {{ availableDeviceQuantities[i] }}</p>
                            <p *ngIf="!availableDeviceQuantities[i]">0</p>
                        </td>
                        <td style="cursor: pointer;">
                            <p *ngIf="soldDeviceQuantity[i]" (click)="showDialog(category.id, '')">
                                {{ soldDeviceQuantity[i] }}</p>
                            <p *ngIf="!soldDeviceQuantity[i]">0</p>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog header="" [(visible)]="visible">
                <p-table [value]="devicePopup" [tableStyle]="{ 'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th *ngIf="devicePopup[0].userName">Khách sở hữu</th>
                            <th *ngIf="devicePopup[0].userName">Thiết bị thay thế</th>
                            <th *ngIf="devicePopup[0].userName">Ngày kích hoạt</th>
                            <th *ngIf="devicePopup[0].userName">Hạn bảo hành</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-device let-i="rowIndex">
                        <tr>
                            <td>{{ device.id }}</td>
                            <td>{{ device.name }}</td>
                            <td *ngIf="device.userName">{{ device.userName }}</td>
                            <td *ngIf="device.userName">{{ device.replacementDevice }}</td>
                            <td *ngIf="device.userName">{{ device.activationDate }}</td>
                            <td *ngIf="device.userName">{{ device.warrantyPeriod }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-dialog>
        </div>
</div>