<div class="all">
    <app-home></app-home>
    <div class="right_side">
        <div>
            <p-button *ngIf="role == 'Admin'" icon="pi pi-pencil" severity="info" [outlined]="true" (onClick)="navigate()" [style]="{'width' : '100%', 'margin-bottom' : '15px'}">Tạo phiếu bảo hành</p-button>
            <p-button *ngIf="role != 'Admin' && role != 'Customer'" icon="pi pi-pencil" severity="info" 
            [outlined]="true" (onClick)="navigate()" [style]="{'width' : '100%', 'margin-bottom' : '15px'}">Nhận phiếu bảo hành</p-button>
        </div>
        <div class="info">
            <div class="list">
                <!-- <div class="search" pInputText>
                <i class="pi pi-search"></i>
                <input type="text" placeholder="Mã phiếu bảo hành" />
            </div> -->
                <form [formGroup]="warrantyEditForm">
                    <table>
                        <div formArrayName="warranties">
                            <div *ngFor="let warranty of warranties.controls; let i = index" [formGroupName]="i">
                                <div class="warranty_list" (click)="GetInfo(warranty, i)"
                                    [ngStyle]="{'background-color': i === warrantyIndex ? 'rgba(86,100,209,255)' : ''}">
                                    <tbody>
                                        <tr>
                                            <td><span>Mã phiếu bảo hành</span></td>
                                            <td><span class="content">{{warranty.value.id}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span>Ngày tạo</span></td>
                                            <td><span class="content">{{warranty.value.createDate | date:'dd/MM/yyy h:mma'}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span>Tên khách hàng</span></td>
                                            <td><span class="content">{{warranty.value.customerName}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span>Trạng thái</span></td>
                                            <td><span class="content">{{warranty.value.status}}</span></td>
                                        </tr>
                                    </tbody>
                                </div>
                            </div>
                        </div>
                    </table>
                    <p-paginator  [rows]="5" [totalRecords]="totalWarranty" (onPageChange)="WarrantyPageChange($event)"
                                 [showFirstLastIcon]="false" [style]="{'padding' : '0'}" [rowsPerPageOptions]="[5, 10, 20, 50]"></p-paginator>
                </form>
            </div>

            <div class="detail">
                <p-tabMenu [model]="items" [activeItem]="activeItem">
                    <ng-template pTemplate="item" let-item>
                        <a (click)="selectItem(item)"
                            class="p-menuitem-link flex justify-content-between align-items-center p-3">
                            <div>
                                <span [class]="item.icon"></span>
                                <span> {{ item.label }}</span>
                            </div>
                            <div>
                                <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{ item.shortcut }}</span>
                            </div>
                        </a>
                    </ng-template>
                </p-tabMenu>

                <div *ngIf="selectedItem">
                    <div *ngIf="selectedItem.label === 'Chi tiết phiếu bảo hành'">
                        <div *ngIf="warrantyById">
                            <div class="detail_header">
                                <!-- (activeIndexChange)="onActiveIndexChange($event)" -->
                                <div class="status">
                                    <p-steps [model]="status" [readonly]="true" [activeIndex]="stepIndex"
                                        [style]="{'margin-top': '10px'}"></p-steps>
                                </div>
                                <form #editForm="ngForm">
                                    <div class="detail_info">
                                        <table class="detail_ticket">
                                            <tr>
                                                <td>Mã PBH</td>
                                                <td><input pInputText readonly class="p-inputtext-sm"
                                                        [(ngModel)]="warrantyById.id" name="warrantyId"></td>
                                            </tr>
                                            <tr>
                                                <td>Người tạo</td>
                                                <td><span>{{ warrantyById.creator }}</span></td>
                                            </tr>
                                            <tr>
                                                <td>Người tiếp nhận</td>
                                                <td><span>{{ warrantyById.sale }}</span>
                                                    <!-- <div class="card flex justify-content-center">
                                                        <p-dropdown [options]="sales" [(ngModel)]="selectedSale"
                                                            name="sale" [disabled]="disabled"
                                                            optionLabel="userName" [filter]="true" filterBy="name">
                                                            <ng-template pTemplate="selectedItem" let-selectedSale>
                                                                <div class="flex align-items-center">
                                                                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                                                        [class]="'flag flag-' + selectedSale?.id"
                                                                        style="width: 10px" />
                                                                    <div>{{ selectedSale?.userName }}</div>
                                                                </div>
                                                            </ng-template>
                                                            <ng-template let-sale pTemplate="item">
                                                                <div class="flex align-items-center">
                                                                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                                                        [class]="'flag flag-' + sale.id"
                                                                        style="width: 10px" />
                                                                    <div>{{ sale?.userName }}</div>
                                                                </div>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </div> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Người xử lý kĩ thuật</td>
                                                <td> <span>{{ warrantyById.technician }}</span>
                                                    <!-- <div class="card flex justify-content-center">
                                                        <p-dropdown [options]="technicians"
                                                            [(ngModel)]="selectedTechnician" name="technician"
                                                             optionLabel="name" [disabled]="disabled"
                                                            [filter]="true" filterBy="name">
                                                            <ng-template pTemplate="selectedItem"
                                                                let-selectedTechnician>
                                                                <div class="flex align-items-center gap-2">
                                                                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                                                        [class]="'flag flag-' + selectedTechnician?.id"
                                                                        style="width: 10px" />
                                                                    <div>{{ selectedTechnician?.userName }}</div>
                                                                </div>
                                                            </ng-template>
                                                            <ng-template let-technician pTemplate="item">
                                                                <div class="flex align-items-center gap-2">
                                                                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                                                        [class]="'flag flag-' + technician.id"
                                                                        style="width: 10px" />
                                                                    <div>{{ technician?.userName }}</div>
                                                                </div>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </div> -->
                                                </td>
                                            </tr>
                                        </table>

                                        <table class="detail_customer">
                                            <tr>
                                                <td>Tên KH</td>
                                                <td><input type="text" pInputText readonly class="p-inputtext-sm"
                                                        [(ngModel)]="warrantyById.customerName" name="customerName">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Thời gian tạo</td>
                                                <td><span>{{ warrantyById.createDate | date:'dd/MM/yyyy h:mma' }}</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ngày hẹn</td>
                                                <td>
                                                    <p-calendar [showButtonBar]="true" [showIcon]="true"
                                                        [(ngModel)]="appointmentDate" [disabled]="disabled"
                                                        (ngModelChange)="setAppoinmentDate($event)" dateFormat="dd/mm/yy" 
                                                        name="appointmentDate"></p-calendar>
                                                    <!-- <span>{{ warrantyById.appointmentDate | date:'dd/MM/yyyy' }}</span> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ngày hoàn thành</td>
                                                <td><span>{{ warrantyById.warrantyDate | date:'dd/MM/yyyy' }}</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="description">
                                        <p>Mô tả</p>
                                        <textarea rows="5" cols="30" pInputTextarea [value]="warrantyById.description" [disabled]="disabled"
                                            [(ngModel)]="warrantyDescription" name="description"></textarea>
                                    </div>

                                    <div class="device">
                                        <p-table [value]="devices" [tableStyle]="{ 'margin-top': '20px' }">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th [hidden]="role != 'Technician' && role != 'Admin'">Chỉnh sửa</th>
                                                    <th>Serial number</th>
                                                    <th>Tên thiết bị</th>
                                                    <th>Mô tả</th>
                                                    <th>Tình trạng bảo hành</th>
                                                    <th>Kết quả xử lý</th>
                                                    <th *ngIf="this.checkReplacement">Thiết bị thay thế</th>
                                                    <th *ngIf="this.checkReason">Lý do</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-i="rowIndex" let-device>
                                                <tr>
                                                    <td [hidden]="role != 'Technician' && role != 'Admin'">
                                                        <p-button (click)="editDeviceDialog(device, i)" [disabled]="disabledDevice[i]" icon="pi pi-file-edit" label=""></p-button>
                                                    </td>
            
                                                    <td><span>{{ device.id }}</span></td>
                                                    <td><span>{{ device.name }}</span></td>
                                                    <td><span>{{ device.description }}</span></td>
                                                    <td><span>{{ device.status }}</span></td>
                                                    <td><span>{{ device.result }}</span></td>
                                                    <td *ngIf="device.replacementDevice"><span>{{ device.replacementDevice }}</span></td>
                                                    <td *ngIf="device.reason"><span>{{ device.reason }}</span></td>
                                                </tr>
                                            </ng-template>
                                        </p-table>

                                        <p-dialog header="Sửa thiết bị" [(visible)]="editDeviceVisibility" [style]="{width: '80%'}">
                                            <p-table [value]="editDevices" [tableStyle]="{ 'margin-top': '20px' }">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th>Serial number</th>
                                                        <th>Tên thiết bị</th>
                                                        <th>Mô tả</th>
                                                        <th>Tình trạng bảo hành</th>
                                                        <th *ngIf="deviceStatus == 'Hoàn thành'">Kết quả xử lý</th>
                                                        <th *ngIf="deviceStatus == 'Từ chối'">Lý do</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-i="rowIndex" let-device>
                                                    <tr>
                                                        <td>
                                                            <input type="text" pInputText readonly class="p-inputtext-sm"
                                                            [value]="device.id" [(ngModel)]="deviceId" name="deviceId">
                                                        </td>
                                                        <td><span>{{ device.name }}</span></td>
                                                        <td>
                                                            <input type="text" pInputText [placeholder]="device.description" name="description"
                                                            [(ngModel)]="deviceDescription"/>    
                                                        </td>
                                                        <td>
                                                            <p-dropdown [options]="deviceStatusOptions"
                                                            [placeholder]="device.status?.toString()"
                                                            [(ngModel)]="deviceStatus" appendTo="body" name="status"></p-dropdown>    
                                                        </td>
                                                        <td *ngIf="deviceStatus == 'Hoàn thành'">
                                                            <p-dropdown [options]="deviceResultOptions"
                                                            [placeholder]="device.result?.toString()"
                                                            [(ngModel)]="deviceResult" appendTo="body" name="result"></p-dropdown>    
                                                        </td>
                                                        <td *ngIf="deviceStatus == 'Từ chối'">
                                                            <input *ngIf="deviceStatus == 'Từ chối'" type="text" pInputText [(ngModel)]="reason"
                                                             name="reason"/>   
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>       
                                            <div style="text-align: center; margin: 20px;">
                                                <p *ngIf="replacementDevices.length > 0">Có sẵn {{replacementDevices.length}} {{replacementDevices[0].name}}.</p>
                                                <p *ngIf="!replacementDevices || replacementDevices.length == 0">
                                                    Thiết bị không có sẵn.</p>
                                            </div>
                                            <p-button class="button" label="Sửa" (onClick)="editWarrantyDevice()"></p-button>          
                                        </p-dialog>
                                    </div>
                                    <div class="button" *ngIf="warrantyById.status != 'Hoàn thành'">
                                        <p-toast></p-toast>
                                        <p-button *ngIf="role != 'Customer' && role != 'Technician'" label="Sửa" (onClick)="editWarrantyTicket()"></p-button>
                                        <p-button *ngIf="role == 'Customer' && warrantyById.status == 'Người dùng xác nhận'" 
                                            label="Từ chối" [style]="{'margin-right': '15px'}" severity="danger" 
                                            (onClick)="acceptWarranty('Đang xử lý')"></p-button>
                                        <p-button *ngIf="role == 'Customer' && warrantyById.status == 'Người dùng xác nhận'"
                                        label="Hoàn tất" severity="success" (onClick)="acceptWarranty('Hoàn thành')"></p-button>
                                        
                                        <!-- <p-button *ngIf="role == 'Technician' && warrantyById.technician == null" 
                                                label="Tiếp nhận" severity="info" (onClick)="editWarrantyTicket()"></p-button> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="selectedItem.label === 'Lịch sử phiếu bảo hành'">
                        <div *ngIf="warrantyById">
                            <p-table [value]="warrantyHistoryList" [styleClass]="'p-datatable-sm'">
                                <ng-template pTemplate="caption"> Mã phiếu bảo hành: {{warrantyById.id}} </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Người sửa đổi</th>
                                        <th>Mô tả</th>
                                        <th>Ngày hẹn</th>
                                        <th>Ngày hoàn thành</th>
                                        <th>Sale chính</th>
                                        <th>Người xử lý</th>
                                        <th>Trạng thái</th>
                                        <th>Thời gian sửa đổi</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-warrantyHistory>
                                    <tr>
                                        <td>{{ warrantyHistory.modifier }}</td>
                                        <td>{{ warrantyHistory.description }}</td>
                                        <td>{{ warrantyHistory.appointmentDate | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ warrantyHistory.warrantyDate | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ warrantyHistory.sale }}</td>
                                        <td>{{ warrantyHistory.technician }}</td>
                                        <td>{{ warrantyHistory.status }}</td>
                                        <td>{{ warrantyHistory.modifyDate | date:'dd/MM/yyyy h:mma' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <p-paginator  [rows]="5" [totalRecords]="totalWarrantyHistory" (onPageChange)="WarrantyHistoryPageChange($event)"
                                 [showFirstLastIcon]="false" [style]="{'padding' : '0'}" [rowsPerPageOptions]="[5, 10, 20, 50]"></p-paginator>
                        </div>
                    </div>

                    <div *ngIf="selectedItem.label === 'Lịch sử thiết bị'">
                        <p-table [value]="warrantyDeviceHistoryList" [styleClass]= "'p-datatable-sm'">
                            <ng-template pTemplate="caption"> Mã phiếu bảo hành: {{warrantyById.id}} </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Người sửa đổi</th>
                                    <th>Mã thiết bị</th>
                                    <th>Mô tả</th>
                                    <th>Tình trạng bảo hành</th>                                    
                                    <th>Kết quả</th>
                                    <th>Ngày sửa đổi</th>
                                    <th>Thiết bị thay thế</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-warrantyDeviceHistory>
                                <tr>
                                    <td>{{ warrantyDeviceHistory.modifier}}</td>
                                    <td>{{ warrantyDeviceHistory.deviceId }}</td>
                                    <td>{{ warrantyDeviceHistory.description }}</td>
                                    <td>{{ warrantyDeviceHistory.status }}</td>                                    
                                    <td>{{ warrantyDeviceHistory.result }}</td>
                                    <td>{{ warrantyDeviceHistory.modifyDate | date:'dd/MM/yyyy h:mma' }}</td>
                                    <td><p  *ngIf="warrantyDeviceHistory.replacementDevice">
                                        {{ warrantyDeviceHistory.replacementDevice }} ({{warrantyDeviceHistory.replacementDeviceName}})
                                    </p></td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-paginator  [rows]="5" [totalRecords]="totalWarrantyDeviceHistory" (onPageChange)="WarrantyDeviceHistoryPageChange($event)"
                                 [showFirstLastIcon]="false" [style]="{'padding' : '0'}" [rowsPerPageOptions]="[5, 10, 20, 50]"></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>