<div class="all">
    <app-home></app-home>
    <div [formGroup]="createRoleForm">
        <label>Create new role:</label><input class="create" type="text" formControlName="creating">
        <button type="submit" (click)="create()">Add</button>
    </div>
    <form [formGroup]="roleForm">
        
        <table class="data">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Permission</th>
                </tr>
            </thead>
            <tbody formArrayName="roles">
                <tr *ngFor="let role of roles.controls; let i = index" [formGroupName]="i">
                    <input type="text" formControlName="id" hidden>
                    <td><input type="text" formControlName="name"></td>
                    <!-- <td><button type="button" (click)="onSubmit(i)">Permission</button></td>
                    <td><button type="submit" (click)="onSubmit(i)">Edit</button></td> -->
                    <td>
                        <div class="card flex justify-content-center">
                            <p-button (click)="show(i)" icon="pi pi-search" label="Thay đổi quyền"></p-button>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </form>

    <!-- <p-table [value]="roleList" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Role</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
            <tr>
                <td>{{ role.name }}</td>
                <td>
                    <div class="card flex justify-content-center">
                        <p-button (click)="show(role)" icon="pi pi-search" label="Thay đổi quyền"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table> -->
</div>

  